.*
auto-sace-list/*
auto-save-list/*
auto-save/*
backup/*
blink-search.db
blink-search/*
eln-cache/*
elpa/*
elph/*
eshell/*
history
org-roam.db
places
projects
recentf
straight/*
transient/*
tree-sitter/*
lisp/packages/*

!.gitignore
!.gitmodules
